//Colors

    ///Primary

        ////Text

$paleViolet: hsl(276, 100%, 81%); // (sub-heading at the top of the app UI)
$moderateViolet: hsl(276, 55%, 52%); //(chat on the left)
$desaturatedDarkViolet: hsl(271, 15%, 43%); //(chat on the right)
$grayishBlue: hsl(206, 6%, 79%); //(placeholder text)
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%); //(main heading)
$darkGrayishViolet: hsl(270, 7%, 64%); //(paragraph)

        ////Gradients

//These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

$LightMagenta: hsl(293, 100%, 63%);
$LightViolet: hsl(264, 100%, 61%);

$violet-gradient: linear-gradient(-65deg, $LightMagenta , $LightViolet);

        /// Secondary

$White: hsl(0, 0%, 100%);
$LightGrayishViolet: hsl(270, 20%, 96%); //(app background)
$VeryDarkDesaturatedViolet: hsl(271, 36%, 24%); //(submit button background)
$VeryLightMagenta: hsl(289, 100%, 72%); //(radio button outline)

//Fonts

$primaryFont:'Rubik', sans-serif;//400 500 700
