@use 'config/variables' as *;
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $primaryFont;
  position: relative;
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 98%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 50%;
  }
  &::before {
    background-image: $violet-gradient;
    top: 0;
    left: 0;
    border-bottom-right-radius: 240px;
  }
  &::after {
    background-color: $LightGrayishViolet;
    bottom: 0;
    right: 0;
    border-top-left-radius: 240px;
  }
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-left: 36px;
  padding-right: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .title,
  .paragraph {
    text-align: center;
  }
  .title {
    font-size: 2.45rem;
    font-weight: 500;
    color: $veryDarkDesaturatedViolet;
    margin-top: 60px;
  }
  .paragraph {
    color: $darkGrayishViolet;
    font-weight: 400;
    line-height: 1.75rem;
  }
}

@media screen and (min-width: 1280px) {
  body {
    overflow: hidden;
    &::before,
    &::after {
      height: 155vh;
    }
    &::before{
      width: 35vw;
      border-radius: 380px;
      left: -8%;
      top: -65%;
    }
    &::after{
      width: 25vw;
     height: 80vh ;
     bottom: 0;
     border-top-left-radius: 350px;
    }
  }
  main {
    flex-direction: row;
    width: 860px;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    margin-left: 3rem;
    .title,
    .paragraph {
      text-align: left;
      width: 450px;
      line-height: 1.5rem;
    }
  }
  .description {
    margin-left: 100px;
  }
}
