html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
body::before, body::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 50%;
}
body::before {
  background-image: linear-gradient(-65deg, #e942ff, #8838ff);
  top: 0;
  left: 0;
  border-bottom-right-radius: 240px;
}
body::after {
  background-color: #f5f3f7;
  bottom: 0;
  right: 0;
  border-top-left-radius: 240px;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-left: 36px;
  padding-right: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
main .title,
main .paragraph {
  text-align: center;
}
main .title {
  font-size: 2.45rem;
  font-weight: 500;
  color: #3e2753;
  margin-top: 60px;
}
main .paragraph {
  color: #a39daa;
  font-weight: 400;
  line-height: 1.75rem;
}

@media screen and (min-width: 1280px) {
  body {
    overflow: hidden;
  }
  body::before, body::after {
    height: 155vh;
  }
  body::before {
    width: 35vw;
    border-radius: 380px;
    left: -8%;
    top: -65%;
  }
  body::after {
    width: 25vw;
    height: 80vh;
    bottom: 0;
    border-top-left-radius: 350px;
  }

  main {
    flex-direction: row;
    width: 860px;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-left: 3rem;
  }
  main .title,
main .paragraph {
    text-align: left;
    width: 450px;
    line-height: 1.5rem;
  }

  .description {
    margin-left: 100px;
  }
}
.user {
  font-size: 0.45rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user__info {
  width: 130px;
}
.user__info p,
.user__info h2 {
  margin: 0;
  padding: 0;
  margin-left: 16px;
  opacity: 0.75;
}
.user__picture {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #f5f3f7;
}

.mobile {
  background-color: white;
  width: 250px;
  min-height: 505px;
  border-radius: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 32px -5px rgba(62, 39, 83, 0.75);
}
.mobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 130px;
  height: 28px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.mobile__background {
  background-color: #f5f3f7;
  width: calc(100% - 5px);
  height: calc(100% - 4px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 24px;
}
.mobile__header {
  background-image: linear-gradient(-65deg, #e942ff, #8838ff);
  color: #f5f3f7;
  padding: 10px;
  padding-top: 25px;
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.mobile__header i {
  font-size: 0.8rem;
}
.mobile__message {
  font-size: 0.5rem;
}
.mobile__message--container p {
  background-color: white;
  max-width: 128px;
  padding: 0.5rem;
  margin: 0.4rem;
}
.mobile__message--container p.mobile__message--left {
  background-color: rgba(216, 158, 255, 0.18);
}
.mobile__message--image-container {
  width: 136px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0.4rem;
}
.mobile__message--image {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}
.mobile__message--left {
  float: left;
  clear: both;
  color: #9241c8;
  border-radius: 10px;
  border-bottom-left-radius: 5px;
}
.mobile__message--right {
  float: right;
  clear: both;
  border-radius: 10px;
  border-bottom-right-radius: 5px;
  color: #6e5d7e;
}
.mobile__message--price {
  clear: both;
  width: 160px;
  height: 32px;
  padding: 0.5rem;
  margin: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(-65deg, #e942ff, #8838ff);
  border-radius: 10px;
  border-bottom-left-radius: 5px;
  color: white;
}
.mobile__message--price span, .mobile__message--price i {
  font-size: 0.8rem;
}
.mobile__message--price i {
  font-weight: 400;
}
.mobile__message--price span {
  font-weight: 700;
}
.mobile__message--price p {
  font-size: 0.5rem;
}
.mobile__form {
  width: 95%;
  height: 2rem;
  margin: auto;
  margin-top: 25px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
.mobile__form input {
  border: 0;
  outline: hidden;
}
.mobile__form input::placeholder {
  font-size: 0.6rem;
  margin-left: 1.5rem;
  color: #c6cacd;
}
.mobile__form button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0;
  background-color: #3e2753;
  color: #f5f3f7;
}

@media screen and (min-width: 1280px) {
  .mobile {
    min-width: 250px;
  }
}